img {
    width: 500px;
}

body {
    text-align: center;
    color: #ffffff;
    background-color: #5049ac;
    background-image:
        linear-gradient(90deg, rgba(214, 214, 214, 0.08) 3px, transparent 1px),
        linear-gradient(rgba(249, 243, 243, 0.08) 1px, transparent 3px);
    background-size: 90px 90px;

}

button {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #5049ac;
  position: fixed; 
  top: 0; 
  width: 100%;
  border-radius: 5px;
}

.navBtn {
  float: left;
  font-size: 15px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  text-decoration-color: antiquewhite;
  width: 100px;
  height: 40px;
  border: none;
}

.navBtn:hover {
    text-decoration: none;
    color: lightblue;
}

.navBtn:active {
    text-decoration: none;
    color: blue;
}

main {
    margin-top: 200px;
}


.project {
    border-radius: 20px;
    width: 350px;
    height: 300px;
    font-size: 20px;
    background-color: #5049ac;
    color: #ffffff;
    border-width: 5px;
    margin: 10px;
}

.project:hover {
    transform: scale(1.05);
}

.project:active {
    transform: scale(0.95);
}

.projectImg {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.contactLink {
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    width: 100px;
    height: 40px;
    border: none;
}